<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.spearkkk.u</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>script-filter</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>copy-to-clipboard</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>spearkkk</string>
	<key>description</key>
	<string>Utility functions for productivity</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Utility</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>copy-to-clipboard</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>u</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading utilities...</string>
				<key>script</key>
				<string>./u "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select a utility function</string>
				<key>title</key>
				<string>Utilities</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>script-filter</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>copy-to-clipboard</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>script-filter</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>When selected, it is enabled.</string>
			</dict>
			<key>description</key>
			<string>A timestamp utility that toggles seamlessly between on and off.</string>
			<key>label</key>
			<string>Timestamp</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>ts</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>'%Y%m%d%H%M%S','%Y-%m-%d %H:%M:%S %Z','RFC1123','RFC3339','UnixDate'</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>Timestamp formats what you want. (strftime, RFC1123, ISO8601)</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>ts_formats</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>When selected, it is enabled.</string>
			</dict>
			<key>description</key>
			<string>The UUID utility allows you to generate universally unique identifiers (UUIDs)</string>
			<key>label</key>
			<string>UUID</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>uuid</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/spearkkk/u</string>
</dict>
</plist>
