<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.spearkkk.u</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1E325996-1206-4B90-9F29-E45D17BB8B37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>script-filter</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F678CFD-14E8-4AB0-B8A6-721BA127A91B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>script-filter</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>338B1CB2-C2F7-47C7-8D68-6DEF35880665</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>script-filter</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B117BF42-CF68-437B-A3B0-053B8D931676</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>338B1CB2-C2F7-47C7-8D68-6DEF35880665</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B608B9AA-45F5-489D-BE80-FAAF7D5A2A0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E325996-1206-4B90-9F29-E45D17BB8B37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0426D2D-B502-417E-B3C0-185ADC055AB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>script-filter</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEEB7E2A-D991-445F-9760-9F5A7D9FB573</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0426D2D-B502-417E-B3C0-185ADC055AB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D34F0E82-2A7C-46B7-8F10-BE7ED4669917</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F678CFD-14E8-4AB0-B8A6-721BA127A91B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>script-filter</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>copy-to-clipboard</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>spearkkk</string>
	<key>description</key>
	<string>Utility functions for productivity</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Utility</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>uuid</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>UUID</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CEEB7E2A-D991-445F-9760-9F5A7D9FB573</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>copy-to-clipboard</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>u</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading utilities...</string>
				<key>script</key>
				<string>./u "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select a utility function</string>
				<key>title</key>
				<string>Utilities</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>script-filter</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>uuid</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C0426D2D-B502-417E-B3C0-185ADC055AB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ts</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Timestamp</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B117BF42-CF68-437B-A3B0-053B8D931676</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>ts {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>338B1CB2-C2F7-47C7-8D68-6DEF35880665</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>json</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>JSON</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B608B9AA-45F5-489D-BE80-FAAF7D5A2A0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>json {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1E325996-1206-4B90-9F29-E45D17BB8B37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>c</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Color</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D34F0E82-2A7C-46B7-8F10-BE7ED4669917</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>c {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2F678CFD-14E8-4AB0-B8A6-721BA127A91B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1E325996-1206-4B90-9F29-E45D17BB8B37</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>2F678CFD-14E8-4AB0-B8A6-721BA127A91B</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>338B1CB2-C2F7-47C7-8D68-6DEF35880665</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>B117BF42-CF68-437B-A3B0-053B8D931676</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>B608B9AA-45F5-489D-BE80-FAAF7D5A2A0D</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>C0426D2D-B502-417E-B3C0-185ADC055AB8</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>CEEB7E2A-D991-445F-9760-9F5A7D9FB573</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D34F0E82-2A7C-46B7-8F10-BE7ED4669917</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>copy-to-clipboard</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>script-filter</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>When selected, it is enabled.</string>
			</dict>
			<key>description</key>
			<string>Timestamp utility that toggles seamlessly between on and off.</string>
			<key>label</key>
			<string>Timestamp</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>ts</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>'%Y%m%d%H%M%S','%Y-%m-%d %H:%M:%S %Z','RFC1123','RFC3339','UnixDate'</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>Timestamp formats what you want. (strftime, RFC1123, ISO8601)</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>ts_formats</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>When selected, it is enabled.</string>
			</dict>
			<key>description</key>
			<string>UUID utility allows you to generate universally unique identifiers (UUIDs)</string>
			<key>label</key>
			<string>UUID</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>uuid</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>When selected, it is enabled.</string>
			</dict>
			<key>description</key>
			<string>JSON utility prettify(beautify) or minify json string</string>
			<key>label</key>
			<string>JSON</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>json</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>When selected, it is enabled.</string>
			</dict>
			<key>description</key>
			<string>Color utility to convert RGB to Hex</string>
			<key>label</key>
			<string>Color</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>c</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.2.6</string>
	<key>webaddress</key>
	<string>https://github.com/spearkkk/u</string>
</dict>
</plist>
